body, textarea{
  font-family: "Courier";
}

div.container {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 360px;
    margin: 0;
    padding: 1em;
}

textarea {
  width: 370px;
  height: 300px;
  font-size: 14px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 370px;
    padding: 1em;
    overflow: hidden;
}
