<html>

  <head>

    <script type="text/javascript" src="js/main.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/simple.css">

  </head>

  <body ng-app="simple" ng-controller='simpleCtrl as simple'>

    <div class="container">

      <header>
         <h1>Simple!</h1>
      </header>

      <nav>
        <textarea id="input" ng-model="files[settings.current].content"></textarea><br /><br />
        <button id="run" ng-click="run()">Run</button>
      </nav>

      <article>
        <div id="output">
          <div ng=repeat="o in output">{{o}}</div>
        </div>
      </article>

      <footer>Copyright &#9400; Eric Klavins</footer>

    </div>

  </body>

</html>
